<div style="padding:5px;">
	<h3>Illuminatrix Manual Controls</h3>
	<a href="/plugin/Illuminatrix/on">Lights On</a><BR/>
	<a href="/plugin/Illuminatrix/off">Lights Off</a><BR />
	<a href="/plugin/Illuminatrix/white">White mode</a><BR />
	<a href="/plugin/Illuminatrix/red">Red</a><BR/>
	<a href="/plugin/Illuminatrix/green">Green</a><BR />
	<a href="/plugin/Illuminatrix/blue">Blue</a><BR />
</div>
