<div style="padding:5px;">
	<!--<script type="text/javascript" src="http://code.jquery.com/jquery-latest.min.js"> </script>-->
	<script>	
		function callApi(request) {
			console.log("Illuminatrix says: hey..."+request);
			var apiPrefix = "/plugin/Illuminatrix/";
			$.get(apiPrefix + request);
		}
	</script>

	<!-- Thankfully liberated from http://www.graemeboy.com/css-buttons -->
	<style type="text/css"> 
	input {
		-webkit-box-shadow:rgba(0,0,0,0.0.1) 0 1px 0 0;
		-moz-box-shadow:rgba(0,0,0,0.0.1) 0 1px 0 0;
		box-shadow:rgba(0,0,0,0.0.1) 0 1px 0 0;
		background-color:#A4A4A4;
		border:1px solid #29447E;
		font-family:'Lucida Grande',Tahoma,Verdana,Arial,sans-serif;
		font-size:12px;
		font-weight:700;
		padding:6px 6px;
		color:#fff;
		border-radius:5px;
		-moz-border-radius:3px;
		-webkit-border-radius:3px;
	}
	input:hover {
		background-color:	#D8D8D8;
	}
	</style>


	<h3>Illuminatrix Manual Controls</h3>
	<input type="submit" value="On" onclick="callApi('on');">
	<input type="submit" value="Off" onclick="callApi('off');">
	<input type="submit" value="Standby" onclick="callApi('standby');">

	<div>
		<h4>Colors</h4>
		<input type="submit" value="White" onclick="callApi('white');">
		<input type="submit" value="Red" onclick="callApi('red');">
		<input type="submit" value="Green" onclick="callApi('green');">
		<input type="submit" value="Blue" onclick="callApi('blue');">
	        <input type="submit" value="Light Blue" onclick="callApi('lightblue');">
		<input type="submit" value="Purple" onclick="callApi('purple');">
	        <input type="submit" value="Yellow" onclick="callApi('yellow');">
	</div>
	
	<div>
		<h4>Animated</h4>
		<input type="submit" value="Cycle " onclick="callApi('cycleon');">
		<input type="submit" value="Cycle White" onclick="callApi('cyclewhite');">
		<input type="submit" value="Cycle Red" onclick="callApi('cyclered');">
		<input type="submit" value="Cycle Green" onclick="callApi('cyclegreen');">
		<input type="submit" value="Cycle Blue" onclick="callApi('cycleblue');">
	</div>
</div>
